<!-- Full screen container with horizontal gradient background -->
<div
  class="min-h-screen bg-gradient-to-r from-[#A69056] to-[#2F7D77] flex items-center justify-center p-6"
>
  <!-- Form content centered without container -->
  <div class="w-full max-w-md">
    <!-- Title -->
    <h1
      class="text-5xl font-light text-[#F3EFDF] text-center mb-12 tracking-wider"
    >
      Forgot Password
    </h1>
    <!-- Forgot Password form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Email Sent Flag -->
      <div *ngIf="showEmailSentMessage" class="text-green-500">
        Email sent! Please check your inbox.
      </div>
      <!-- Email-->
      <div>
        <input
          type="text"
          placeholder="Email"
          formControlName="email"
          class="w-full px-4 py-3 bg-white/20 border-0 text-[#F3EFDF] placeholder-[#F3EFDF]/70 focus:outline-none focus:ring-2 focus:ring-white/30 transition-all duration-200"
          required
        />
        <div
          *ngIf="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
          "
          class="text-sm mt-1"
        >
          <div *ngIf="form.get('email')?.hasError('required')">
            Email is required.
          </div>
          <div *ngIf="form.get('email')?.hasError('email')">
            Please enter a valid email address.
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="pt-4">
        <button
          type="submit"
          class="w-full cursor-pointer py-3 px-6 bg-[#3EB565] hover:bg-[#36A35A] text-[#F3EFDF] font-medium rounded-full transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-[#3EB565]/50"
        >
          Send Password Reset Link
        </button>
      </div>

      <!-- Back to Login -->
      <div class="text-center mt-6">
        <p class="text-[#F3EFDF] text-sm">
          Remember your password?
          <a
            routerLink="/login"
            class="text-[#155CA2] hover:text-[#155CA2]/80 font-medium cursor-pointer transition-colors duration-200"
          >
            Login!
          </a>
        </p>
      </div>
      <app-spinner *ngIf="loading()" />
    </form>
  </div>
</div>
