<!-- Navbar with gradient background matching login page -->
<nav class="bg-gradient-to-r from-[#A69056] to-[#2F7D77] shadow-lg">
  <div class="px-6 py-4">
    <div class="flex items-center justify-between">
      <!-- Left side - UnifyAuth logo -->
      <div class="flex items-center">
        <h1 class="text-2xl font-light text-[#F3EFDF] tracking-wider">
          UnifyAuth
        </h1>
      </div>
    </div>
  </div>
</nav>
<div class="p-4 max-w-md mx-auto text-center mt-50">
  <div
    *ngIf="message() as msg"
    class="w-full max-w-xl p-6 rounded-xl border shadow-md text-center transition-all duration-300"
    [ngClass]="{
      'border-green-500 text-green-600 bg-green-50': msg.type === 'success',
      'border-red-500 text-red-600 bg-red-50': msg.type === 'error'
    }"
  >
    <p class="text-lg font-medium">{{ msg.text }}</p>
    <p *ngIf="msg.type == 'success'">You can close this page</p>
    <app-spinner *ngIf="loading()" />
  </div>
</div>
